@using HLS.Topup.Web.Views.Shared.Components.LimitAmount
@model HLS.Topup.Web.Models.Account.ProfileModel
@{
    var agency = Model.AgentProfile != null ? Model.AgentProfile : new UserProfileDto();
}
<div class="form-group form-group-dashed row">
    <label class="col-md-4 col-xs-6 control-label">Mã đại lý</label>
    <label class="col-md-8 col-xs-6 control-label  ">
        <strong>@(Model.UserInfo.AccountCode)</strong>
    </label>
</div>
<div class="form-group form-group-dashed row">
    <label class="col-md-4 col-xs-6 control-label">Họ tên</label>
    <label class="col-md-8 col-xs-6 control-label  ">@(Model.UserInfo.FullName)</label>
</div>
<div class="form-group form-group-dashed row">
    @if (Model.UserInfo.AccountType == (byte) CommonConst.SystemAccountType.Staff)
    {
        <label class="col-md-4 col-xs-6 control-label">Hạn mức hiện tại</label>
        <label class="col-md-8 col-xs-6 control-label  ">
            <span class="">@await Component.InvokeAsync(typeof(LimitAmountViewComponent)) đ</span>
        </label>
    }
    else
    {
        <label class="col-md-4 col-xs-6 control-label">Số dư hiện tại</label>
        <label class="col-md-8 col-xs-6 control-label  ">
            <span class="">@await Component.InvokeAsync(typeof(BalanceViewComponent))</span>
        </label>
    }
</div>
<div class="form-group form-group-dashed row">
    <label class="col-md-4 col-xs-6 control-label">Loại tài khoản</label>
    <label class="col-md-8 col-xs-6 control-label  ">
        <strong>@L("Enum_AccountType_" + Model.UserInfo.AccountType)</strong>
    </label>
</div>
<div class="form-group form-group-dashed row">
    <label class="col-md-4 col-xs-6 control-label">Số điện thoại</label>
    <label class="col-md-8 col-xs-6 control-label  ">
        <strong>@Model.UserInfo.PhoneNumber</strong>
    </label>
</div>

@if (Model.UserInfo.AccountType != (byte) CommonConst.SystemAccountType.Staff && Model.UserInfo.AccountType != (byte) CommonConst.SystemAccountType.StaffApi)
{
    if (Model.UserInfo.IsVerifyAccount)
    {
        <div class="form-group form-group-dashed row">
            <label class="col-md-4 col-xs-6 control-label">Tên cửa hàng</label>
            <label class="col-md-8 col-xs-6 control-label  ">
                <strong>@agency.AgentName</strong>
            </label>
        </div>
    }

    <div class="form-group form-group-dashed row">
        <label class="col-md-4 col-xs-6 control-label">Trạng thái</label>
        <label class="col-md-8 col-xs-6 control-label  ">
            <label for="" class="title"> <strong>@(Model.UserInfo.IsVerifyAccount ? "Tài khoản đã xác thực thông tin" : "Tài khoản chưa xác thực thông tin")</strong> &nbsp; </label>
            <a href="javascript:void(0)" onclick="editVerifyAccount()">@(Model.UserInfo.IsVerifyAccount ? "Xem thông tin xác thực." : "Xác thực ngay.")</a>

        </label>
    </div>
}
