@{
    Layout = $"~/Views/Layout/_LayoutProfile.cshtml";
}
@model HLS.Topup.Web.Areas.App.Models.Users.UsersViewModel
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Profile_StaffManager;

    ViewBag.Title = "Thêm mới nhân viên";
    ViewBag.ImageTitle = "/themes/topup/images/user-manager-white.svg";
}

@if (ViewBag.isEdit)
{
    ViewBag.Title = "Sửa thông tin nhân viên";
    ViewBag.ImageTitle = "/themes/topup/images/user-manager-white.svg";
}

@section Scripts
{
    <script abp-src="/view-resources/Views/Profile/CreateOrEditStaff.js" asp-append-version="true"></script>
}

<div class="section-body-middle box-staff-manager" id="create-staff-page" style="min-height: 100%;">
    <div class="section-body-middle-form-p1" style="padding:20px">
        <form id="create-staff-form" autocomplete="off">
            @if (ViewBag.isEdit && ViewBag.staffId != null)
            {
                <input type="hidden" name="userId" value="@ViewBag.staffId">
            }

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group margin-big">
                        <label for="" class="title sm-margin">
                            <span class="receiver-info-code">Họ <span class="lightred">(*)</span></span>
                        </label>
                        <div class="form-group-wrap">
                            <input type="text" placeholder="Nhập họ" required="required" class="form-control form-normal" name="surname" maxlength="32">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group margin-big">
                        <label for="" class="title sm-margin">
                            <span class="receiver-info-code">Tên <span class="lightred">(*)</span></span>
                        </label>
                        <div class="form-group-wrap">
                            <input type="text" placeholder="Nhập tên" required="required" class="form-control form-normal" name="name" maxlength="32">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group margin-big">
                        <label for="" class="title sm-margin">
                            <span class="receiver-info-code">Số điện thoại <span class="lightred">(*)</span></span>
                        </label>
                        <div class="form-group-wrap">
                            <input type="text" placeholder="Nhập số điện thoại" required="required" class="form-control form-normal" name="phoneNumber" maxlength="15" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group margin-big">
                        <label for="" class="title sm-margin">
                            <span class="receiver-info-code">Mật khẩu <span class="lightred">(*)</span></span>
                        </label>
                        <div class="form-group-wrap">
                            @if (ViewBag.isEdit && ViewBag.staffId != null)
                            {
                                <input type="password" placeholder="Nhập mật khẩu" class="form-control form-normal" name="password">
                            }
                            else
                            {
                                <input type="password" placeholder="Nhập mật khẩu" required="required" class="form-control form-normal" name="password">
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group margin-big">
                        <label for="" class="title sm-margin">
                            <span class="receiver-info-code">Thời gian <span class="lightred">(*)</span></span>
                        </label>
                        <div class="row box-select-time">
                            <div class="col-md-5-cols col-xs-6">
                                <div class="form-group-wrap">
                                    <select class="form-control" name="fromTimeHour" required="required">
                                        <option value="">Giờ</option>
                                        @for (int x = 0; x <= 23; x++)
                                        {
                                            <option value="@x">@x</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5-cols col-xs-6">
                                <div class="form-group-wrap">
                                    <select class="form-control" name="fromTimeMin" required="required">
                                        <option value="">Phút</option>
                                        @for (int x = 0; x <= 59; x++)
                                        {
                                            <option value="@x">@x</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5-cols col-xs-12 text-center" style="padding: 15px 0;">
                                <span class="hidden-xs">đến</span>
                            </div>
                            <div class="col-md-5-cols col-xs-6">
                                <div class="form-group-wrap">
                                    <select class="form-control" name="toTimeHour" required="required">
                                        <option value="">Giờ</option>
                                        @for (int x = 0; x <= 23; x++)
                                        {
                                            <option value="@x">@x</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5-cols col-xs-6">
                                <div class="form-group-wrap">
                                    <select class="form-control" name="toTimeMin" required="required">
                                        <option value="">Phút</option>
                                        @for (int x = 0; x <= 59; x++)
                                        {
                                            <option value="@x">@x</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group margin-big">
                        <label for="" class="title sm-margin">
                            <span class="receiver-info-code">Ngày lặp lại <span class="lightred">(*)</span></span>
                        </label>
                        <div class="form-group-wrap">
                            <div id="weekdays"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="form-group margin-big">
                        <label for="" class="title sm-margin">
                            <span class="receiver-info-code">Hạn mức trong ngày <span class="lightred">(*)</span></span>
                        </label>
                        <div class="form-group-wrap">
                            <input type="text" placeholder="Nhập hạn mức ngày" required="required" class="form-control form-normal amount-mask" name="limitAmount">
                        </div>
                        <div class="form-group-wrap" style="margin-top:10px">
                            <span class="amount-to-text" id="amount-to-text"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group margin-big">
                        <label for="" class="title sm-margin">
                            <span class="receiver-info-code">Trạng thái</span>
                        </label>
                        <div class="form-group-wrap" style="margin-top:9px">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="isActive" id="status1" value="true" checked>
                                        <label class="form-check-label" for="status1">Hoạt động</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="isActive" id="status0" value="false">
                                        <label class="form-check-label" for="status0">Khoá</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group margin-big">
                        <label for="" class="title sm-margin">
                            <span class="receiver-info-code">Ghi chú</span>
                        </label>
                        <div class="form-group-wrap">
                            <textarea name="description" id="note" cols="30" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="section-body-middle-form-p2">
        <div class="row">
            <div tabindex="12" class="col-md-12 text-center">
                <button type="button" onclick="ctrl.back()" class="button btn-custom btn-grey">Quay lại</button>
                <button type="button" onclick="ctrl.nextToStep()" class="button btn-custom btn-blue btn-handle">Lưu</button>
            </div>
        </div>
    </div>
</div>
