@model HLS.Topup.Authorization.Accounts.Dto.CreateOrEditAgentModalViewModel

@{
    Layout = $"~/Views/Layout/_LayoutGmobile.cshtml";
    ViewBag.Title = "Chỉnh sửa thông tin tài khoản";
}

@{
    ViewBag.CurrentPageName = FrontEndPageNames.Profile_Edit;
    ViewBag.PageTitle = "Sửa thông tin tài khoản";
    ViewBag.ImageTitle = "/themes/topup/images/ic_banner_top/profile-white.svg";
    ViewBag.Breadcrumbs = new List<(string Text, string Url)>
    {
        ("Thông tin cá nhân", Url.Action("", "")),
        ("Sửa thông tin tài khoản", Url.Action("", "")),
    };
}
@await Html.PartialAsync("~/Views/Layout/Shared/_SubHeaderPartial.cshtml")

@section Scripts
{
    <script abp-src="/view-resources/Views/Profile/Edit.js" asp-append-version="true"></script>
}

<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">
            @await Html.PartialAsync("~/Views/Profile/_ProfileAside.cshtml")
            <!--begin::Content-->
            <div class="flex-row-fluid ml-lg-8" id="Profile_Edit_Page">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">Thông tin tài khoản</h3>
                        </div>
                        <div class="card-toolbar">
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form class="form" id="profileForm">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Mã tài khoản</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control form-control-lg" type="text" value="@(Model.User.AccountCode)" disabled/>
                                    <input type="hidden" name="userName" value="@Model.User.UserName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Họ và tên đệm</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control form-control-lg" type="text" value="@(Model.User.Surname)"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Tên của bạn</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control form-control-lg" type="text" value="@(Model.User.Name)"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Số điện thoại</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control form-control-lg" type="text" value="@Model.User.PhoneNumber" disabled/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Loại tài khoản</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control form-control-lg" type="text" value="@L("Enum_AccountType_" + Model.User.AccountType)" disabled/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="btn-group">
                                        <button type="button" onClick="ctrl.nextToStep()" class="btn btn-success mr-2">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Content-->
        </div>
        <!--end::Profile Personal Information-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->