@{
    Layout = $"~/Views/Layout/_LayoutFull.cshtml";
}
@model HLS.Topup.Web.Models.Report.ReportViewModel
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Report_Detail;
    ViewBag.Title = "Lịch sử giao dịch";
    ViewBag.ImageTitle = "/themes/topup/images/transaction-history-white.svg";
}

@section Scripts
{
    
    <script type="application/javascript">
        var agentType = '@Model.User.AgentType';
        var sendMethod = '@Model.User.MethodReceivePassFile';
    </script>
    <script src="~/themes/topup/print/ctrl.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Views/Report/Detail.js" asp-append-version="true"></script>
}

<style>
    td.ctrl-ss {
        padding: 0 10px 0 0 !important;
    }

        td.ctrl-ss i.fa {
            padding: 8px 12px !important;
        }
</style>

<div class="report-detail">
    <div class="page-title text-right">
        <a href="javascript:;" onclick="Sv.goBackHistory()">
            <button class="btn-file-export" style="float: left !important;">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> @L("Back")
            </button>
        </a>
        <div class="add-button">
            <button id="ExportToExcelButton" class=" btn-file-export">
                <i class="fa fa-file-excel"></i> @L("ExportToExcel")
            </button>
        </div>
    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-md-3 col-xs-6 col-fix-mobi col-xs-100">
                <div class="form-group">
                    <label for="FromDateFilterId">Thời gia từ:</label>
                    <div class="dis-flex" style="display: flex;">
                        <input class="form-control m-input datedepart hasDatepicker date-picker" value="@DateTime.Now.ToShortDateString()" type="datetime" id="FromDateFilterId">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-fix-mobi col-xs-100">
                <div class="form-group">
                    <label for="FromDateFilterId">Thời gian tới:</label>
                    <div class="dis-flex" style="display: flex;">
                        <input class="form-control m-input datedepart hasDatepicker date-picker" value="@DateTime.Now.ToShortDateString()" type="datetime" id="ToDateFilterId">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-fix-mobi col-xs-100">
                <div class="form-group">
                    <label for="RequestTransFilter">Mã giao dịch:</label>
                    <input type="text" id="txtRequestTrans" class="form-control" />
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="form-group align-items-center">
                    <label>Tài khoản thụ hưởng: </label>
                    <div class="input-group">
                        <input type="text" id="txtReceivedAccount" class="form-control" />
                        <span class="input-group-btn">
                            <button id="btnSearch" class="btn btn-success btn-blue btn-search-icon" type="submit">
                                <i class="flaticon-search-1" aria-label="@L("Search")"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-xs-100">
                <div class="form-group">
                    <label for="ProviderFilter">Nhà cung cấp:</label>
                    <select id="selectProvider" name="selectProvider" class="form-control select2">
                        <option value="">--Tất cả--</option>
                        @foreach (var x in Model.Providers)
                        {
                            <option value="@(x.Value)">@(x.DisplayText)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-xs-100">
                <div class="form-group">
                    <label for="UserProcessFilter">Người thực hiện:</label>

                    <select id="selectUserProcess" name="selectUserProcess" class="form-control select2"></select>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-xs-100 box-input-select">
                <div class="form-group">
                    <label for="ServiceCodeFilter">Loại giao dịch:</label>
                    <span class="down-arrow-black arrow-small" style="top:25px"></span>
                    <select id="ServiceCodeFilter" class="form-control">
                        <option value="">-- @L("TransType") --</option>
                        <option value="TOPUP">Nạp tiền điện thoại</option>
                        <option value="TOPUP_DATA">Topup Data</option>
                        <option value="PIN_CODE">Mua mã thẻ</option>
                        <option value="PIN_DATA">Mua thẻ Data</option>
                        <option value="PIN_GAME">Mua thẻ Game</option>
                        <option value="PAY_BILL">Thanh toán hóa đơn</option>
                        <option value="CORRECT_UP">Điều chỉnh tăng</option>
                        <option value="CORRECT_DOWN">Điều chỉnh giảm</option>
                        <option value="REFUND">Hoàn tiền</option>
                        <option value="DEPOSIT">Nạp tiền</option>
                        <option value="TRANSFER">Chuyển tiền ngang</option>
                        <option value="RECEIVE_MONEY">Nhận tiền đại lý</option>
                        <option value="PAYBATCH">Trả thưởng</option>
						<option value="PAYCOMMISSION">Hoa hồng</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-xs-100">
                <div class="form-group">
                    <label for="StatusFilterId">@L("Status"):</label>
                    <span class="down-arrow-black arrow-small" style="top:25px"></span>
                    <select class="form-control" name="StatusFilter" id="StatusFilterId">
                        <option value="0">@L("All")</option>
                        <option value="1">Thành công</option>
                        <option value="2">Chưa có KQ</option>
                        <option value="3">Lỗi</option>
                    </select>
                </div>
            </div>


        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-md-12">
                <div class="tb-transaction-history">
                    <table id="Table" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th style="text-align:center" colspan="4">Tổng cộng</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="5"></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Trạng thái</th>
                                <th>Loại giao dịch</th>
                                <th>Nhà cung cấp</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Chiết khấu</th>
                                <th>Phí</th>
                                <th>Thu</th>
                                <th>Chi</th>
                                <th>Số dư</th>
                                <th>Tài khoản thụ hưởng</th>
                                <th>Mã giao dịch</th>
                                <th>Người thực hiện</th>
                                <th>Thời gian</th>
                                <th>Mã tham chiếu</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>