@using HLS.Topup.Web.TagHelpers
@model HLS.Topup.Web.Models.Transaction.TransactionDetailsInfoModel
@if (string.IsNullOrEmpty(Model.TransactionInfo.TransCode))
{
    <h1>Không có thông tin giao dịch</h1>
}
else
{
    var prod = Model.TransactionInfo.ProductCode.Split("_");
    var vendor = Model.Vendors.FirstOrDefault(x => x.Code == prod[0]);
    <div class="section-card ">
        <div class="section-card-content ">
            <div class="section-card-header">
                <div class="logo">
                    <img src="/themes/topup/images/nt.png" alt="">
                </div>
                <h2>@(Model.Network.AgentName)</h2>
            </div>

            <div class="section-card-line">
                <label class="col-xs-12 control-label">
                    @L("Print_Provider") <span class="data telco">@vendor?.Name</span>
                </label>
            </div>

            <div class="section-card-line">
                <label class="col-xs-12 control-label">
                    @L("Print_PhoneNumber") <span class="data telco">@Model.TransactionInfo.ReceiverInfo</span>
                </label>
            </div>

            <div class="section-card-line">
                <label class="col-xs-12 control-label">
                    @L("Print_CardPrice") <span class="data telco">@Model.TransactionInfo.Amount.ToFormat()</span>
                </label>
            </div>

            <div class="section-card-line">
                <label class="col-xs-12 control-label">
                    @L("Print_TranCode") <span class="data">@Model.Transcode</span>
                </label>
            </div>

            <div class="section-card-line">
                <label class="col-xs-12 control-label">
                    @L("Print_Date") <span class="data">@Model.TransactionInfo.CreatedTime.ToString("dd/MM/yyyy hh:mm:ss")</span>
                </label>
            </div> 
            <div class="section-card-line">
                <label class="col-xs-12 control-label">@Html.Raw(vendor?.Print_Suport.Nl2Br()) </label>
            </div>
        </div>
    </div>
}