@using Abp.Json
@using HLS.Topup.Localization
@model HLS.Topup.Web.Models.Account.ResetPasswordViewModel

@section Scripts
{
    <script>
        window.passwordComplexitySetting = @Html.Raw(Model.PasswordComplexitySetting.ToJsonString(indented: true));
    </script>
    <script abp-src="/view-resources/Views/Account/ResetPassword.js" asp-append-version="true"></script>
}

@section Styles{
    <link href="/metronic/common/css/login-1@(CultureHelper.IsRtl ? ".rtl" : "").css" rel="stylesheet"/>
}

<div class="login-form">
    <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">@L("ChangePassword")</h3>
    </div>
    <form class="form pass-reset-form" asp-action="ConfirmResetPassword" method="post">
        <input type="hidden" name="PhoneNumber" id="txtPhoneNumber" value="@ViewBag.PhoneNumber">
        <p>
            @Html.Raw(Model.Message)
        </p>
@*         <div class="form-group"> *@
@*             @if (Model.IsObpEnable) *@
@*             { *@
@*                 <div id="show-resend-odp"> *@
@*                     <a class="saction btn-resend-code" href="#">Gửi lại ODP?</a> *@
@*                 </div> *@
@*             } *@
@*             else *@
@*             { *@
@*                 <div id="show-resend-otp" class="hidden"> *@
@*                     <a class="saction btn-resend-code" href="#">Gửi lại OTP?</a> *@
@*                 </div> *@
@*             } *@
@*         </div> *@
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <div class="alert-icon">
                    <i class="fa fa-exclamation-triangle"></i>
                </div>
                <div class="alert-text">@ViewBag.ErrorMessage</div>
            </div>
        }
        <input type="hidden" name="UserId" value="@Model.UserId.ToString()">
        <input type="hidden" name="ResetCode" value="@Model.ResetCode">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        @if (Model.IsUseVerify)
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-md-7">
                        <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password" autocomplete="new-password" id="Otp" placeholder="@(Model.IsObpEnable ? "Nhập ODP" : "Nhập OTP")" name="Otp" required/>
                    </div>
                    <div class="col-md-5">
                        <div id="show-text-otp" class="show-text-otp-resend">
                        <i class="fas fa-share-square"></i>
                            @(Model.IsObpEnable ? "Gửi lại ODP sau " : "Gửi lại OTP sau ")<span style="color: red" id="timeOtp"></span><span>s</span>
                        </div>
                        <div id="show-resend-otp" class="hidden show-text-otp-resend">
                            <a class="saction btn-resend-code" href="#">
                            <i class="fas fa-share"></i>
                                @(Model.IsObpEnable ? "Gửi lại ODP?" : "Gửi lại OTP?")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password" autocomplete="new-password" id="Password" placeholder="@L("Password")" name="Password" required/>
        </div>
        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password" autocomplete="new-password" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required/>
        </div>
        <div class="pb-lg-0 pb-5">
            <a asp-action="ForgotPassword">
                <button type="button" id="back-btn" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">@L("Back")</button>
            </a>
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">@L("Submit")</button>
        </div>
    </form>
</div>
