@model HLS.Topup.Web.Models.Account.RegisterViewModel
@using Abp.Json
@using HLS.Topup.Localization
@using HLS.Topup.Web.Security.Recaptcha
@addTagHelper *, Owl.reCAPTCHA

@section Scripts
{
    <script>
        window.passwordComplexitySetting = @Html.Raw(Model.PasswordComplexitySetting.ToJsonString(indented: true));
    </script>

    <script abp-src="/view-resources/Areas/App/Views/_Bundles/account-register.min.js" asp-append-version="true"></script>
}

<!--begin::Signin-->
<div class="login-form login-signin">
    <!--begin::Form-->
    <form class="form register-form" asp-action="Register" method="post">
        <input type="hidden" id="txtOtp" name="Otp"/>
        <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()"/>
        <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema"/>
        <input type="hidden" name="SingleSignOn" value="@Model.SingleSignIn"/>
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
        @if (ViewBag.UseCaptcha)
        {
            <input type="hidden" name="@RecaptchaValidator.RecaptchaResponseKey" id="@RecaptchaValidator.RecaptchaResponseKey"/>
        }

        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Xin chào</h3>
            <span class="font-weight-bold font-size-h4">
                Bạn đã có tài khoản?
                <a href="@Url.Action("Login", "Account")" id="kt_login_signup" class="text-primary font-weight-bold">Đăng nhập</a>
            </span>
        </div>
        <!--begin::Title-->
        @if (@ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <div class="alert-icon">
                    <i class="fa fa-exclamation-triangle"></i>
                </div>
                <div class="alert-text">@ViewBag.ErrorMessage</div>
            </div>
        }
        <!--begin::Form group-->
        <div class="form-group mb-4">
            <label class="font-size-h6 font-weight-bolder text-dark required">Họ và tên đệm</label>
            <input class="form-control h-auto py-4 px-6 rounded-lg" type="text" name="Surname" value="@Model.Surname" placeholder="Họ và tên đệm" maxlength="@HLS.Topup.Authorization.Users.User.MaxSurnameLength" required/>
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group mb-4">
            <label class="font-size-h6 font-weight-bolder text-dark required">Tên</label>
            <input class="form-control h-auto py-4 px-6 rounded-lg" type="text" name="Name" value="@Model.Name" placeholder="Họ và tên đệm" maxlength="@HLS.Topup.Authorization.Users.User.MaxNameLength" required/>
        </div>
        <!--end::Form group-->
        @if (!Model.IsExternalLogin)
        {
            <!--begin::Form group-->
            <div class="form-group mb-4">
                <label class="font-size-h6 font-weight-bolder text-dark required">Số điện thoại</label>
                <input class="form-control h-auto py-4 px-6 rounded-lg" type="text" name="UserName" id="txtUserName" value="@Model.UserName" placeholder="Số điện thoại" maxlength="@HLS.Topup.Authorization.Users.User.MaxUserNameLength" required/>
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group mb-4">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5 required">Mật khẩu</label>
                <input class="form-control h-auto py-4 px-6 rounded-lg" type="password" name="Password" id="RegisterPassword" placeholder="Mật khẩu" autocomplete="new-password" required/>
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group mb-4">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5 required">Nhập lại mật khẩu</label>
                <input class="form-control h-auto py-4 px-6 rounded-lg" type="password" name="PasswordRepeat" id="RegisterPasswordRepeat" placeholder="Mật khẩu" autocomplete="new-password" required/>
            </div>
            <!--end::Form group-->
        }
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
            <button type="button" id="register-submit-btn" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Đăng ký</button>
        </div>
        <!--end::Action-->
    </form>
    <!--end::Form-->
</div>
<!--end::Signin-->