@using HLS.Topup.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Common.ReportServiceDetail;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Reports/ReportServiceDetail.js" asp-append-version="true"></script>
}
@model HLS.Topup.Web.Areas.App.Models.Reports.ReportServiceViewModel
<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="Báo cáo" description="Báo cáo bán hàng chi tiết">
        <button id="ExportToExcelButton" class="btn btn-outline-success">
            <i class="fa fa-file-excel"></i> @L("ExportToExcel")
        </button>
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="transCode" class="form-control m-input" maxlength="50" placeholder="Mã giao dịch">
                                    <input type="text" id="requestRef" class="form-control m-input" maxlength="50" placeholder="Mã đối tác">
                                    <input type="text" id="payTransRef" class="form-control m-input" maxlength="50" placeholder="Mã giao dịch NCC">
                                    <input type="text" id="txtproviderResponseCode" class="form-control m-input" maxlength="50" placeholder="Mã NCC trả">
                                    <span class="input-group-btn">
                                        <button id="GetProvidersButtonFillter" class="btn btn-primary btn-search-transaction" type="submit">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4 filter-block-header">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="FromFilter">Thời gian từ</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="datetime" placeholder="@L("MinValue")" value="@Model.FromDate.ToShortDateString()" id="fromDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="FromFilter">Thời gian tới</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="datetime" placeholder="@L("MaxValue")" value="@Model.ToDate.ToShortDateString()" id="toDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TypeSale">Loại đại lý</label>
                            <select class="form-control" name="agentType" id="agentType">
                                <option value="0">Tất cả</option>
                                @foreach (var item in Model.AgentTypes)
                                {
                                    <option value="@item.AgentTypeId">@item.AgentTypeName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UserAgent">Đại lý</label>
                            <select id="selectAgent" name="selectAgent" class="form-control ignore select2" required>
                                @if (!string.IsNullOrEmpty(Model.AgentCode))
                                {
                                    <option value="@Model.AgentCode">@Model.AgentInfo</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UserAgent">Đại lý tổng</label>
                            <select id="selectAgentParent" name="selectAgentParent" class="form-control ignore select2" required>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UserAgentStaff">Người thực hiện</label>
                            <select id="selectUserAgentStaff" name="selectUserAgentStaff" class="form-control ignore select2" required>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group align-items-center">
                            <label>Số thụ hưởng</label>
                            <div class="input-group">
                                <input type="text" id="receivedAccount" class="form-control m-input" maxlength="50" placeholder="Số thụ hưởng">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UserSaleLeader">Sale Leader</label>
                            <select id="selectUserSaleLeader" name="selectUserSaleLeader" class="form-control ignore select2" required></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UserUserSale">Nhân viên Sale</label>
                            <select id="selectUserSale" name="selectUserSale" class="form-control ignore select2" required>
                                @if (!string.IsNullOrEmpty(Model.SaleCode))
                                {
                                    <option value="@Model.SaleCode">@Model.SaleInfo</option>
                                }
                            </select>
                        </div>
                    </div>                  
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Vender">Nhà cung cấp</label>
                            <select id="selectVender" name="selectVender" multiple class="form-control select2" required>
                                <option value="">Tất cả</option>
                                @foreach (var x in Model.Providers)
                                {
                                    if (x.Value == Model.ProviderCode)
                                    {
                                        <option value="@x.Value" selected="selected">@x.DisplayText</option>
                                    }
                                    else
                                    {
                                        <option value="@x.Value">@x.DisplayText</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Nhà cung cấp cha</label>
                            <select id="selectParentProvider" name="selectParentProvider" class="form-control select2">
                                <option value="">Tất cả</option>
                                @foreach (var x in Model.Providers)
                                {
                                    if (x.Value == Model.ProviderCode)
                                    {
                                        <option value="@x.Value" selected="selected">@x.DisplayText</option>
                                    }
                                    else
                                    {
                                        <option value="@x.Value">@x.DisplayText</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="service">Dịch vụ</label>
                            <select class="form-control" name="selectService" id="selectService" multiple>
                                <option value="">Tất cả</option>
                                @foreach (var x in Model.Services)
                                {
                                    if (x.Value == Model.ServiceCode)
                                    {
                                        <option value="@x.Value" selected="selected">@x.DisplayText</option>
                                    }
                                    else
                                    {
                                        <option value="@x.Value">@x.DisplayText</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="selectCategory">Loại sản phẩm</label>
                            <select class="form-control" name="selectCategory" id="selectCategory" multiple>
                                @if (!string.IsNullOrEmpty(Model.CategoryCode))
                                {
                                    <option value="@Model.CategoryCode">@Model.CategoryName</option>
                                }
                                else
                                {
                                    <option value="">Chọn loại sản phẩm</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Product">Sản phẩm</label>
                            <select id="selectProduct" name="selectProduct" class="form-control select2" multiple required>
                                @if (!string.IsNullOrEmpty(Model.ProductCode))
                                {
                                    <option value="@Model.ProductCode">@Model.ProductName</option>
                                }
                                else
                                {
                                    <option value="">Chọn sản phẩm</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="selectCity">Tỉnh/TP</label>
                            <select class="form-control" name="selectCity" id="selectCity">
                                @if (Model.CityId > 0)
                                {
                                    <option value="@Model.CityId">@Model.CityName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="selectDistrict">Quận/huyện</label>
                            <select class="form-control" name="selectDistrict" id="selectDistrict">
                                @if (Model.DistrictId > 0)
                                {
                                    <option value="@Model.DistrictId">@Model.DistrictName</option>
                                }
                                else
                                {
                                    <option value="">Tất cả</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="selectWard">Phường/xã</label>
                            <select class="form-control" name="selectWard" id="selectWard">
                                @if (Model.WardId > 0)
                                {
                                    <option value="@Model.WardId">@Model.WardName</option>
                                }
                                else
                                {
                                    <option value="">Tất cả</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group align-items-center">
                            <label>Trạng thái</label>
                            <div class="input-group">
                                <select class="form-control" name="selectStatus" id="selectStatus">
                                    <option value="0">@L("All")</option>
                                    @if (Model.Status > 0)
                                    {
                                        <option value="1" selected="selected">Thành công</option>
                                    }
                                    else
                                    {
                                        <option value="1">Thành công</option>
                                    }
                                    <option value="2">Chưa có kết quả</option>
                                    <option value="3">Lỗi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Loại thuê bao</label>
                            <select class="form-control" name="selectReceiverType" id="selectReceiverType">
                                <option value="">Tất cả</option>
                                <option value="PREPAID">Trả trước</option>
                                <option value="POSTPAID">Trả sau</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Loại thuê bao NCC trả</label>
                            <select class="form-control" name="selectReceiverTypeResponse" id="selectReceiverTypeResponse">
                                <option value="">Tất cả</option>
                                <option value="TT">Trả trước</option>
                                <option value="TS">Trả sau</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12"></div>
                    <div class="col-md-4">
                        <div class="euiFlexItem euiFlexItem--flexGrowZero">
                            <span class="euiToolTipAnchor">
                                <button id="GetProvidersButton" class="euiButton euiButton--primary euiSuperUpdateButton euiButton--fill" type="button">
                                    <span class="euiButton__content">
                                        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="euiIcon euiIcon--medium euiIcon-isLoaded euiButton__icon" focusable="false" role="img" aria-hidden="true">
                                            <path d="M11.271 11.978l3.872 3.873a.502.502 0 00.708 0 .502.502 0 000-.708l-3.565-3.564c2.38-2.747 2.267-6.923-.342-9.532-2.73-2.73-7.17-2.73-9.898 0-2.728 2.729-2.728 7.17 0 9.9a6.955 6.955 0 004.949 2.05.5.5 0 000-1 5.96 5.96 0 01-4.242-1.757 6.01 6.01 0 010-8.486c2.337-2.34 6.143-2.34 8.484 0a6.01 6.01 0 010 8.486.5.5 0 00.034.738z"></path>
                                        </svg>
                                        <span class="euiButton__text euiSuperUpdateButton__text">Tìm kiếm</span>
                                    </span>
                                </button>

                                <button class="euiButton-reset euiButton--primary" type="button">
                                    <span class="euiButton__content">
                                        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="euiIcon-reset euiIcon--medium euiIcon-isLoaded euiButton__icon" focusable="false" role="img" aria-hidden="true">
                                            <path d="M11.228 2.942a.5.5 0 11-.538.842A5 5 0 1013 8a.5.5 0 111 0 6 6 0 11-2.772-5.058zM14 1.5v3A1.5 1.5 0 0112.5 6h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 111 0z"></path>
                                        </svg>
                                        <span class="euiButton__text euiSuperUpdateButton__text">Đặt lại</span>
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                            <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")
                        </span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                            <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")
                        </span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="detailTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th colspan="7">Tổng cộng</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="13"></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Loại đại lý</th>
                                <th>Mã đại lý</th>
                                <th>NVKD</th>
                                <th>Nhà cung cấp</th>
                                <th>Dịch vụ</th>
                                <th>Loại sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Số tiền chiết khấu</th>
                                <th>Phí</th>
                                <th>Thành tiền</th>
                                <th>Hoa hồng ĐL tổng</th>
                                <th>Đại lý tổng</th>
                                <th>Số thụ hưởng</th>
                                <th>Thời gian</th>
                                <th>Trạng thái</th>
                                <th>Người thực hiện</th>
                                <th>Mã giao dịch</th>
                                <th>Mã đối tác</th>
                                <th>Mã nhà cung cấp</th>
                                <th>Kênh</th>
                                <th>Loại thuê bao</th>
                                <th>Nhà cung cấp trả về</th>
                                <th>Loại thuê bao NCC trả về</th>
                                <th>Nhà cung cấp cha</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <input type="hidden" id="hdnAccountType" value="@Model.AccountType" />
            <input type="hidden" id="hdnCategoryCode" value="@Model.CategoryCode" />
            <input type="hidden" id="hdnProductCode" value="@Model.ProductCode" />
        </div>
    </div>
</div>
