@model HLS.Topup.Web.Models.TopupRequest.CreateOrEditTopupRequestModalViewModel

<div class="flex-row-fluid">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">@ViewBag.PageTitle</h3>
            </div>
            <div class="card-toolbar">
            </div>
        </div>
        <div class="card-body">
            <div class="section-tab" id="card__slider_menu1">
                <form class="step step1" id="topupForm" autocomplete="off">
                    <div class="section-body-p1 no-border-top">
                        <div class="row">
                            <div class="form-group margin-big col-md-6">
                                <label>Số điện thoại <span class="text-danger">*</span></label>
                                <div class="form-group-wrap">
                                    <input tabindex="1" required="required" numbers-only
                                           placeholder="Nhập số điện thoại"
                                           type="tel"
                                           maxlength="10" name="phoneNumber"
                                           class="form-control form-control-lg input-width-100 mobile-input-width-100"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group margin-big col-md-6">
                                <label>Chọn nhà mạng <span class="text-danger">*</span></label>
                                <div class="form-group-wrap">
                                    <select class="form-control form-control-lg select2 form-control-big form-blue select2-card-telco"
                                            style="width: 100%;" id="select2-card-telco"
                                            data-location="card-value-items" data-form="topupForm" name="cardTelco">
                                        @foreach (var item in Model.Categorys)
                                        {
                                            <option value="@item.CategoryCode"
                                                    data-image="@item.Image">@item.CategoryName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group topup-item-list">
                            <label>Chọn mệnh giá <span class="text-danger">*</span></label>
                            <div id="card-value-items"></div>
                        </div>
                    </div>
                    <div class="section-body-p2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button type="button" onClick="ctrl.nextToStep()" class="hlsCtrl btn btn-primary btn-lg font-weight-bold">
                                        Xác nhận <i class="flaticon2-right-arrow"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="step step2" id="topupInfoForm" style="display:none">
                    <div class="section-body-p1 no-border-top"></div>
                    <input type="hidden" id="ServiceCode" value="@Model.TopupRequest.ServiceCode"/>
                    <div class="section-body-p2">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="button" onClick="ctrl.activeStep(1)" class="btn btn-secondary btn-lg">
                                    <i class="flaticon2-left-arrow"></i> Quay lại
                                </button>
                                <button type="button" onClick="ctrl.nextToStep2()" class="btn btn-primary btn-lg">
                                    Nạp tiền ngay <i class="flaticon2-right-arrow"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>