@functions
{
    public static string ActiveLinkClass(string page, string pageActive)
    {
        if (page == pageActive)
            return "button-active";
        return "";
    }
}

<div class="footer-pc" style="@(ViewBag.CurrentPageName == "Frontend.Home" ? "height: 140px !important;" : "height: 60px !important;")">
    @if (ViewBag.CurrentPageName == "Frontend.Home")
    {
        <div class="footer-logos hidden-xs hidden-sm">
            <div class="swiper-container-horizontal-logo container swiper-container-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="lunar-calendar lunar-calendar-month" onclick="window.location.href = '/Calendar';" style="cursor: pointer;">
                                    <span class="month">Tháng x</span>
                                    <span class="year">x</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lunar-calendar lunar-1">
                                    <span class="day">Thứ 2</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lunar-calendar lunar-2">
                                    <span class="day">Thứ 3</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lunar-calendar lunar-3">
                                    <span class="day">Thứ 4</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="lunar-calendar lunar-4">
                                    <span class="day">Thứ 5</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lunar-calendar lunar-5">
                                    <span class="day">Thứ 6</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lunar-calendar lunar-6">
                                    <span class="day">Thứ 7</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lunar-calendar lunar-7">
                                    <span class="day" style="color: #c20000;">Chủ nhật</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="bg-dark brand-footer nopadding">
        <div class="container contact">
            <div class="text-coppyright">
                <div class="text-coppyright__main">@L("Footer_Company")</div>
                <div class="text-coppyright__sub">
                    Địa chỉ: @L("Footer_Address")
                    <br> Điện thoại: <a href="tel:@L("Footer_PhoneNumber").Replace(".", "")">@L("Footer_PhoneNumber")</a> - Email: <a href="mailto:@L("Footer_Email")">@L("Footer_Email")</a>
                </div>
            </div>
            <div class="logo-protect">
                <span class="logo-protect__left">
                    <img src="/Common/Images/app-logo-on-light.svg" alt="">
                </span>
            </div>
        </div>
    </div>
</div>

<footer style="display: none;@(ViewBag.CurrentPageName == "Frontend.Home" ? "height: 120px !important;" : "height: 60px !important;")">
    @if (ViewBag.CurrentPageName == "Frontend.Home")
    {
        <div class="footer-logos-mobile">
            <div class="swiper-container-horizontal-logo container swiper-container-horizontal">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <div class="lunar-calendar lunar-calendar-month" onclick="window.location.href = '/Calendar';" style="cursor: pointer;">
                                    <span class="month">Tx</span>
                                    <span class="year">x</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="lunar-calendar lunar-1" onclick="window.location.href = '/Calendar';" style="cursor: pointer;">
                                    <span class="day">Th.2</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="lunar-calendar lunar-2" onclick="window.location.href = '/Calendar';" style="cursor: pointer;">
                                    <span class="day">Th.3</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="lunar-calendar lunar-3" onclick="window.location.href = '/Calendar';" style="cursor: pointer;">
                                    <span class="day">Th.4</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <div class="lunar-calendar lunar-4" onclick="window.location.href = '/Calendar';" style="cursor: pointer;">
                                    <span class="day">Th.5</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="lunar-calendar lunar-5" onclick="window.location.href = '/Calendar';" style="cursor: pointer;">
                                    <span class="day">Th.6</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="lunar-calendar lunar-6" onclick="window.location.href = '/Calendar';" style="cursor: pointer;">
                                    <span class="day">Th.7</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="lunar-calendar lunar-7" onclick="window.location.href = '/Calendar';" style="cursor: pointer;">
                                    <span class="day" style="color: #c20000;">CN</span>
                                    <span class="date-solar">x</span>
                                    <span class="date-lunar">x</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="buttonGroup" class="btn-group selectors" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.Home)">
            <a href="@Url.Action("Index", "Home")">
                <div class="selector-holder">
                    <i class="las la-home la-2x"></i>
                    <span>Trang chủ</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.Topup)">
            <a href="@Url.Action("Index", "Topup")">
                <div class="selector-holder">
                    <i class="las la-mobile la-2x"></i>
                    <span>Nạp tiền</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.PinCode)">
            <a href="@Url.Action("PinCode", "Topup")">
                <div class="selector-holder">
                    <i class="las la-poll-h la-2x"></i>
                    <span>Mua thẻ</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.BillPayment)">
            <a href="@Url.Action("Index", "BillPayment")">
                <div class="selector-holder">
                    <i class="las la-file-invoice-dollar la-2x"></i>
                    <span>TT hoá đơn</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.BatchLotPayment)">
            <a href="@Url.Action("Index", "BatchTopup")">
                <div class="selector-holder">
                    <i class="las la-file-invoice-dollar la-2x"></i>
                    <span>Nạp lô</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.Profile)">
            <a href="@Url.Action("Index", "Profile")">
                <div class="selector-holder">
                    <i class="las la-user la-2x"></i>
                    <span>Tài khoản</span>
                </div>
            </a>
        </button>
    </div>
</footer>