@functions
{
    public static string ActiveLinkClass(string page, string pageActive)
    {
        if (page == pageActive)
            return "button-active";
        return "";
    }
}

<div class="footer-pc" style="height: 60px !important;">
    <div class="bg-dark brand-footer nopadding">
        <div class="container contact">
            <div class="text-coppyright">
                <div class="text-coppyright__main">@L("Footer_Company")</div>
                <div class="text-coppyright__sub">
                    Địa chỉ: @L("Footer_Address")
                    <br> Điện thoại: <a href="tel:@L("Footer_PhoneNumber").Replace(".", "")">@L("Footer_PhoneNumber")</a> - Email: <a href="mailto:@L("Footer_Email")">@L("Footer_Email")</a>
                </div>
            </div>
            <div class="logo-protect">
                <span class="logo-protect__left">
                    <img src="/Common/Images/app-logo-on-light.svg" alt="">
                </span>
            </div>
        </div>
    </div>
</div>

<footer style="display: none;@(ViewBag.CurrentPageName == "Frontend.Home" ? "height: 120px !important;" : "height: 60px !important;")">
    <div id="buttonGroup" class="btn-group selectors" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.Home)">
            <a href="@Url.Action("Index", "Home")">
                <div class="selector-holder">
                    <i class="las la-home la-2x"></i>
                    <span>Trang chủ</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.Topup)">
            <a href="@Url.Action("Index", "Topup")">
                <div class="selector-holder">
                    <i class="las la-mobile la-2x"></i>
                    <span>Nạp tiền</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.PinCode)">
            <a href="@Url.Action("PinCode", "Topup")">
                <div class="selector-holder">
                    <i class="las la-poll-h la-2x"></i>
                    <span>Mua thẻ</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.BillPayment)">
            <a href="@Url.Action("Index", "BillPayment")">
                <div class="selector-holder">
                    <i class="las la-file-invoice-dollar la-2x"></i>
                    <span>TT hoá đơn</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.BatchLotPayment)">
            <a href="@Url.Action("Index", "BatchTopup")">
                <div class="selector-holder">
                    <i class="las la-file-invoice-dollar la-2x"></i>
                    <span>Nạp lô</span>
                </div>
            </a>
        </button>
        <button type="button" class="btn btn-secondary @ActiveLinkClass(ViewBag.CurrentPageName, FrontEndPageNames.Profile)">
            <a href="@Url.Action("Index", "Profile")">
                <div class="selector-holder">
                    <i class="las la-user la-2x"></i>
                    <span>Tài khoản</span>
                </div>
            </a>
        </button>
    </div>
</footer>