@using HLS.Topup.Web.Areas.App.Startup
@using HLS.Topup.Authorization
@{
    ViewBag.CurrentPageName = AppPageNames.Common.TopupGateResponseMessage;
}


@section Scripts
{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <script abp-src="/view-resources/Areas/App/Views/TopupGateResponseMessage/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="Quản lý mã lỗi NCC" description="Danh sách mã lỗi nhà cung cấp">
        <button id="ExportToExcelButton" class="btn btn-outline-success">
            <i class="fa fa-file-excel"></i> @L("File Mau Import")
        </button>
        @if (IsGranted(AppPermissions.Pages_TopupGateResponseMessage_Create))
        {
            <label id="CreateTopupGateResponseMessageButton" class="btn btn-primary blue">
                <i class="fa fa-plus"></i> Thêm mới
            </label>
            <label for='excel-file' class="btn btn-primary blue">
                <i class="fa fa-plus"></i> Thêm danh sách file
                <input type="file" id="excel-file" style="display: none;"/>
            </label>
        }
    </abp-page-subheader>
    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4 filter-block-header">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="CodeFilter">Mã lỗi NCC</label>
                            <input type="text" class="form-control" id="CodeFilter">
                        </div>
                    </div><div class="col-md-4">
                        <div class="form-group">
                            <label for="ProviderFilter">NCC</label>
                            <input type="text" class="form-control" id="ProviderFilter">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="NameFilter">Thông báo mã lỗi NCC</label>
                            <input type="text" class="form-control" id="NameFilter">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ResponseNameFilter">Thông báo mã lỗi NT</label>
                            <input type="text" class="form-control" id="ResponseNameFilter">
                        </div>
                    </div><div class="col-md-4">
                        <div class="form-group">
                            <label for="ResponseCodeFilter">Mã lỗi NT</label>
                            <input type="text" class="form-control" id="ResponseCodeFilter">
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 15px;"></div>
                    <div class="col-md-4">
                        <div class="euiFlexItem euiFlexItem--flexGrowZero">
                            <span class="euiToolTipAnchor">
                                <button id="GetTopupGateResponseMessageButton" class="euiButton euiButton--primary euiSuperUpdateButton euiButton--fill" type="button">
                                    <span class="euiButton__content">
                                        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="euiIcon euiIcon--medium euiIcon-isLoaded euiButton__icon" focusable="false" role="img" aria-hidden="true">
                                            <path d="M11.271 11.978l3.872 3.873a.502.502 0 00.708 0 .502.502 0 000-.708l-3.565-3.564c2.38-2.747 2.267-6.923-.342-9.532-2.73-2.73-7.17-2.73-9.898 0-2.728 2.729-2.728 7.17 0 9.9a6.955 6.955 0 004.949 2.05.5.5 0 000-1 5.96 5.96 0 01-4.242-1.757 6.01 6.01 0 010-8.486c2.337-2.34 6.143-2.34 8.484 0a6.01 6.01 0 010 8.486.5.5 0 00.034.738z"></path>
                                        </svg>
                                        <span class="euiButton__text euiSuperUpdateButton__text">Tìm kiếm</span>
                                    </span>
                                </button>
                    
                                <button class="euiButton-reset euiButton--primary" type="button">
                                    <span class="euiButton__content">
                                        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="euiIcon-reset euiIcon--medium euiIcon-isLoaded euiButton__icon" focusable="false" role="img" aria-hidden="true">
                                            <path d="M11.228 2.942a.5.5 0 11-.538.842A5 5 0 1013 8a.5.5 0 111 0 6 6 0 11-2.772-5.058zM14 1.5v3A1.5 1.5 0 0112.5 6h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 111 0z"></path>
                                        </svg>
                                        <span class="euiButton__text euiSuperUpdateButton__text">Đặt lại</span>
                                    </span>
                                </button>
                            </span>
                        </div>
                                            
                    </div>
                    
                    
                </div>
                    <div class="row mb-4">
                        <div class="col-xl-12">
                            <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                                <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")
                            </span>
                            <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                                <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")
                            </span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <table id="TopuGateResponseMessageTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>@L("Actions")</th>
                                <th>Nhà cung cấp</th>
                                <th>Mã lỗi nhà cung cấp</th>
                                <th>Thông báo lỗi nhà cung cấp</th>
                                <th>Mã Lỗi NT</th>
                                <th>Thông báo lỗi NT</th>
                                <th>Ngày tạo</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>