@using HLS.Topup.Web.TagHelpers
@model HLS.Topup.Web.Models.TopupInfoDto
<div class="section-body-right bg-white affix-wrap affix-top mb-5">
    <input type="hidden" name="_TotalAmount" value="@Model.TotalAmount" />
    <div class="section-body-right-header">
        <div class="cart"></div>
        <p>Thông tin giao dịch</p>
    </div>
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped" style="line-height: 2;">
            <tbody>
            <tr>
                <td class="font-weight-bold">Nhà mạng</td>
                <td>@Model.CategoryName</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Số điện thoại</td>
                <td>@Model.PhoneNumber</td>
            </tr>
            @if (Model.ServiceCode == "TOPUP_DATA")
            {
                <tr>
                    <td class="font-weight-bold">Gói Data</td>
                    <td>@Model.Description</td>
                </tr>
            }
            <tr>
                <td class="font-weight-bold">Số tiền giao dịch</td>
                <td>@Model.CardValue.ToFormat()</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Số tiền chiết khấu</td>
                <td>@Model.Discount.ToFormat()</td>
            </tr>
            <tr class="table-info">
                <td class="font-weight-bold">Tổng tiền thanh toán</td>
                <td class="font-weight-bold">@Model.TotalAmount.ToFormat()</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>