@using HLS.Topup.Common;
@using System.Globalization
@using HLS.Topup.Web.Areas.App.Models.Common.Modals
@using HLS.Topup.Web.Areas.App.Models.Deposits
@model CreateOrEditDepositModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? "Sửa nạp tiền mặt" : "Thêm mới nạp tiền mặt"))

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Deposits/_CreateOrEditDepositCashModal.js" asp-append-version="true"></script>
}

<div class="modal-body">
    <div id="DepositCashInformationsTab">
        <form name="DepositCashInformationsForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Deposit.Id"/>
            }
            <input type="hidden" name="type" id="type" value="5"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group m-form__group">
                        <label for="UserName">Chọn tài khoản nạp tiền <span class="lightred">(*)</span></label>
                        <div class="input-group">
                            <div class="input-group">
                                @if (Model.IsEditMode)
                                {
                                    <select id="select_UserId" name="userId" class="form-control select2" required style="width:800px" disabled>
                                        <option value="@Model.Deposit.UserId">@Model.UserName</option>
                                    </select>
                                }
                                else
                                {
                                    <select id="select_UserId" name="userId" class="form-control select2" required style="width:800px">
                                    </select>
                                }
                            </div>
                        </div>

                        @{
                            var selectListStatus = Html.GetEnumSelectList(typeof(CommonConst.DepositStatus));
                            foreach (var selectOption in selectListStatus)
                            {
                                selectOption.Text = L("Enum_DepositStatus_" + selectOption.Value);
                            }
                        }
                    </div>
                </div>
                
                <div class="col-md-6">
                    <label for="SaleMan">Nhân viên kinh doanh</label>
                    <div class="form-group m-form__group">
                        <input class="form-control" id="SaleMan" name="saleMan" type="text" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group m-form__group">
                        <label for="RecipientInfo">Nơi/Người nhận tiền</label>
                         <input class="form-control m-input" id="RecipientInfo" type="text" value="@Model.Deposit.RecipientInfo" name="recipientInfo" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group m-form__group">
                        <label for="Deposit_Amount">
                            @L("Amount") <span class="lightred">(*)</span>
                        </label>
                        <input class="form-control m-input amount-mask" id="Deposit_Amount" value="@Model.Deposit.Amount" type="text" required="required" name="amount"/>
                        <br>
                        <div class="amount-to-text"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group m-form__group">
                        <label for="Deposit_Description">@L("Description")</label>
                        <textarea class="form-control" id="Deposit_Description" type="text" name="description" rows="3">@Model.Deposit.Description</textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")