@using HLS.Topup.Common;

@using System.Globalization
@using HLS.Topup.Web.Areas.App.Models.Common.Modals
@model HLS.Topup.AgentManagerment.MappingSaleView
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Thay đổi nhân viên quản lý"))
<div class="modal-body">
    <div id="MappingSaleInformationsTab">
        <form name="MappingSaleInformationsForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="type" id="hdnAgentId" value="@Model.AgentId"/>
            <input type="hidden" name="type" id="hdnId" value="@Model.Id"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Nhân viên quản lý cũ</h6>
                        <input type="text" id="txtSaleLeaderOld" class="form-control m-input" maxlength="200" data-sale-id="@Model.SaleUserId" value="@Model.UserSale" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Sale Leader</h6>
                        <input type="text" id="txtSaleLeaderOLd" class="form-control m-input" maxlength="200" value="@Model.UserSaleLeader" disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 mb-6">
                    <h6>Nhân viên quản lý mới</h6>
                    <select id="selectSale" name="selectSale" class="form-control select2" required></select>
                </div>
                <div class="col-6 mb-6">
                    <h6>Sale Leader</h6>
                    <input type="text" id="txtSaleLeader" class="form-control m-input" maxlength="200" disabled>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")