@using HLS.Topup.Common;
@using System.Globalization
@using HLS.Topup.Web.Areas.App.Models.Common.Modals
@using HLS.Topup.Web.Areas.App.Models.Providers
@model CompareViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Đối soát"))

<div class="modal-body">
    <div id="ProductInformationsTab">
        <form name="ProviderReconcileInformationsForm" role="form" novalidate class="form-validation">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Provider">@L("Provider")</label>
                        <div class="input-group">
                            <select class="form-control" name="providerSelect" id="providerSelect">
                                <option value="">@L("All")</option>
                                @foreach (var item in Model.Providers)
                                {
                                    <option value="@item.Value">@item.DisplayText</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="TransDate">Ngày giao dịch</label>
                        <div class="input-group">                            
                            <input class="form-control m-input date-picker" type="datetime" placeholder="@L("MinValue")" id="TransDate" value="@DateTime.Now.ToShortDateString()">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ProviderData">Dữ liệu NCC</label>
                        <div class="input-group">
                            <input class="form-control m-input" type="file" placeholder="Dữ liệu NCC" id="ProviderData"  multiple="multiple" name="attachment[]" value="documents">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="NTData">Dữ liệu Nhất Trần</label>
                        <div class="input-group">
                            <input class="form-control m-input" type="file" placeholder="Dữ liệu Nhất Trần" id="NTData">
                        </div>
                    </div>
                </div>
            </div>       
            <div class="col-md-12"></div>
            <div class="col-md-4">
                <div class="euiFlexItem euiFlexItem--flexGrowZero">
                    <span class="euiToolTipAnchor">
                        <button id="btnLoadData" class="euiButton euiButton--primary euiSuperUpdateButton euiButton--fill" type="button">
                            <span class="euiButton__content">
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="euiIcon euiIcon--medium euiIcon-isLoaded euiButton__icon" focusable="false" role="img" aria-hidden="true">
                                    <path d="M11.271 11.978l3.872 3.873a.502.502 0 00.708 0 .502.502 0 000-.708l-3.565-3.564c2.38-2.747 2.267-6.923-.342-9.532-2.73-2.73-7.17-2.73-9.898 0-2.728 2.729-2.728 7.17 0 9.9a6.955 6.955 0 004.949 2.05.5.5 0 000-1 5.96 5.96 0 01-4.242-1.757 6.01 6.01 0 010-8.486c2.337-2.34 6.143-2.34 8.484 0a6.01 6.01 0 010 8.486.5.5 0 00.034.738z"></path>
                                </svg>
                                <span class="euiButton__text euiSuperUpdateButton__text">Tải dữ liệu</span>
                            </span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="tableViewData" class="display table table-striped table-bordered table-hover dt-responsive nowrap cleafix">
                    <thead>
                        <tr>
                            <th>Loại dữ liệu</th>
                            <th>SL GD</th>
                            <th>Số tiền GD</th>
                            <th>SL GD lỗi đã hoàn tiền</th>
                            <th>SỐ tiền GD lỗi đã hoàn tiền</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">
        @L("Cancel")
    </button>
    <button type="button" id="btnCompare" class="btn btn-primary save-button">
        <i class="fa fa-save"></i><span>Đối soát</span>
    </button>
</div>